*{
	padding: 0;
	margin: 0;
}
.container{
	position: relative;
}
	/*<!-- tien -->
	<!-- end tien -->*/
	/*<!-- trung -->
	<!-- end trung -->*/
	/*<!-- linh -->
	<!-- end linh -->*/
	/*<!-- quan -->
	<!-- end quan -->*/