*{
	padding: 0;
	margin: 0;
}
.container{
	position: relative;
}
/*tien*/
.container .diff div[class ^="col"]{
	height: 60px;	
}
.container .diff{
	background: #384452;
}
.container .diff a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 50px;
	text-decoration: none;
	position: relative;
}
.container .diff a:hover{
	background: green;
}
.container .diff a i{
	position: absolute;
	left: 20px;
	top: 30%;
}
.container .header .bx i{
	color: white;
	line-height: 30px;
}
.container .header .bx{
	position: absolute;
	bottom: 37%;
	left: 33%;
}
.container .header .call{
	padding-top: 15px !important;
}
.container .header,
.container .img{
	position: relative;
}
.container .next{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
	position: absolute;
	right: 10px;
	bottom: 80px;
}
.container .pre{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
	position: absolute;
	right: 10px;
	bottom: 20px;
}
.container .pre i,
.container .next i{
	line-height: 50px;
	padding-left: 40%;
	font-size: 25px;
}
.container .form a,
.container .form label,
.container .deff a,
.container .img .pre,
.container .img .next,
.container .masthead nav ul li a.nav-link,
.container .header .reg,
.container .header .login,
.container .header img{
	transition: all 1s ease-in-out;
}
.container .header .reg:hover{
	transform: translate(-5px);
	color: red;
}
.container .deff a:hover{
	transform: rotate(20deg);
	color: blue !important;
}
.container .form a:hover{
	transform: scale(1.2);
}
.container .form label:hover{
	transform: translate(10px,-15px);
	text-shadow: 2px 2px 3px red;
}
.container .img .pre:hover,
.container .img .next:hover,
.container .mtop .login:hover{
	transform: scale(1.2);
	color: red;
}
.container .mtop img:hover{
	transform: translate(20px);
}
.container .masthead nav ul li a.nav-link:hover{
	transform: scale(1.5);
	color: blue;
}
.container .header .search{
	width: 85%;
	border-radius: 20px;
	position: relative;
}
.container .header i.fa-search{
	color: gray;
	position: absolute;
	right: 10%;
	top: 43%;
}
@media screen and (max-width: 992px){
	.container .header .bx{
		left: 67%;
		bottom: 63%;
	}
	.container .header img,
	.container .header .reg,
	.container .header .login{
		width: 100%;
	}
	.container .header .search{
	width: 100%;
	border-radius: 20px;
	position: relative;
}
.container .header i.fa-search{
	color: gray;
	position: absolute;
	right: 10%;
	top: 55%;
}
}
@media screen and (max-width: 576px){
	.container .header .bx{
		left: 15px;
		bottom: 39%;
	}
	.container .header img,
	.container .header .reg,
	.container .header .login{
		width: 100%;
	}
}
/*End Tiến*/
	
/*<!-- trung -->*/
.title1{
	margin-top: 20px;
}
.title1 .line1{
	width: 20%;
	height: 2.5px;
}
.title1 .line2{
	margin-top: 0.5px;
	width: 80%;
	height: 1.5px;
	margin-bottom: 20px;
}
.Business{
	margin: 0 auto;
	margin-bottom: 10px;
}
.Business .contenTR li{
	color: black;
}
.Business .add{
	padding-top: 10px;
}
.Business ul.contenTR li{
	list-style: none;
}
.title2{
	margin-top: 20px;
}
.title2 .line1{
	width: 36%;
	height: 2.5px;
}
.title2 .line2{
	margin-top: 0.5px;
	width: 60%;
	height: 1.5px;
	margin-bottom: 20px;
}
.Special .ig{
	width: 100%;
	height: 200px;
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
	transition: all;
}
.Special .ig img{
	width: 100%;
	height: 100%;
}
.Special .ig:hover img{
	transform: scale(1.2);
	transition-duration: 0.5s;
}
.Special .Deal{
	width: 50%;
	height: 30px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
@media screen and (max-width: 570px){
	.Business .none{
		display: none;
	}
	.Business .contenTR{
		margin-top: 20px;
	}
}
/*<!-- end trung -->*/
 /*linh*/ 
.card1{
	top: 50px;
	position: relative;
}
.card-img-overlay a{
	position: absolute;	
	right: 15px;
	top: 248px;
}
i.fa-caret-down{
	position: absolute;
	top: 80px;
	left: 30%;
}
div.stars {
	float: left;
	display: block;
	width: auto;
	height: 40px;
	line-height: 40px;
	margin-right: 3px;
}
form input.star { display: none; }
label.star {
	float: right;
	padding-right: 5px;
	font-size: 22px;
	color: #444;
	transition: all .2s;
}
input.star:checked ~ label.star:before {
	content: '\f005';
	color: #FD4;
	transition: all .25s;
}
input.star-5:checked ~ label.star:before {
	color: #FE7;
	text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star:before { color: #F62; }
label.star:hover { transform: rotate(-15deg) scale(1.3); }
label.star:before {
	content: '\f006';
	font-family: FontAwesome;
}
.card2{
	top: 50px;
	position: relative;
}
.card2 h3{
	position: absolute;
	top: 180px;
	left: 25%;
	color: white;
}
.card2 p.text{
	position: absolute;
	top: 220px;
	left: 27%;
	color: white;
}
.card2 .evaluate{
	position: absolute;
	top: 260px;
	left: 27%;
	color: white;
} 
a.fa-chevron-circle-left{
	position: absolute;
	left: 3rem;
	bottom: 200px;
}
a.fa-chevron-circle-right{
	position: absolute;
	right: 3rem;
	bottom: 200px;
}
 /*end linh */
/*<!-- quan --!>*/

.container .resent{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.resent .business{
	float: left;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid grey;
}
.business p{
	display: block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	border-bottom: 2px solid green;
}
.resent .list{
	float: left;
	width: 100%;
	height: 150px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.list .image{
	float: left;
	width: 20%;
	height: 100%;
	margin-right: 5%;
	overflow: hidden;
}
.image img{
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in-out;
}
.image img:hover{
	transform: scale(1.2);
}
.list .info{
	position: relative;
	float: left;
	width: 75%;
	height: 100%;
}
.info p{
	margin: 0;
	padding-right: 20%;
}
.star{
	position: absolute;
	width: 250px;
	height: 50px;
	top: 0px;
	left: 47%;
}
.star p{
	float: right;
}
.info a{
	position: absolute;
	top: 0px;
	right: 5%;
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	background: grey;
	color: white;
}
.info a.f1{
	background: #12b794;
}
.info a:hover{
	background: yellow;
	color: red;
}
.container .footer{
	float: left;
	margin-top: 30px;
	width: 100%;
	height: 270px;
	background: grey;
}
.footer .first{
	width: 80%;
	height: 400px;
	margin-left: 10%;
}
.footer .box{
	float: left;
	width: 24%;
	height: 100%;
}
.footer .deff{
	margin-left: 1.3%;
}
.box p{
	color: white;
}
.box h5{
	padding-top: 20px;
	color: white;
}
.box a{
	color: white;
	line-height: 35px;
	font-size: 15px;
}
.box a:hover{
	color: red;
}
.footer .deff .row .col{
	background: #42cef4;
}
.deff .avt{
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 20px;
	margin-bottom: 20px;
	background: green;
	overflow: hidden;
}
.avt img{
	width: 100%;
	height: 100%;
	transition:  all 0.3s ease-in-out;
}
.avt img:hover{
	transform: scale(1.2);
}
.footer .last{
	float: left;
	width: 100%;
	height: 50px;
	border-top: 1px solid white;
}
.last .design{
	float: left;
	width: 50%;
	height: 100%;
	margin-left: 10%;
}
.design p{
	margin: 0;
	line-height: 40px;
}
.box div[class ^="col"]{
	background: #12b794;
	margin-bottom: 5px;
	margin-right: 5px;
}
.footer .deff a{
	text-decoration: none;
	text-align: center;
}
.last .manu{
	float: left;
	width: 40%;
	height: 100%;
}
.manu ul{
	margin: 0;
	width: 100%;
	height: 100%;
}
.manu ul li{
	margin: 0;
	float: left;
	list-style: none;
	margin-left: 10px;
	line-height: 40px;
}
.manu ul li a{
	text-align: center;
	text-decoration: none;
	color: black;
}
.manu ul li a:hover{
	color: white;
}
@media screen and (max-width: 992px){
	.container .list{
		height: 200px;
	}
	.container .list .image{
		height: 90px;
	}
	.container .lish .info{
		width: 40%;
	}
	.container .list .info .star{
		top: 200px;
		left: 80px;
	}
	.container .list .info a{
		top: 200px;
	}
	.container .footer{
		height: auto;
	}
	.footer .box{
		width: 35%;
		margin-right: 20px; 
	}
	.footer .deff{
		margin-left: 0px;
		margin-right: 50px;
	}
	.footer .deff .avt{
		width: 40px;
	}
	.footer .last .design{
		width: 100%;
	}
	.footer .last .manu{
		display: none;
	}
	.footer{
		position: relative;
	}
	.footer .popu{
		position: absolute;
		left: 10%;
		top: 45%;
	}
	.footer .gallary{
		position: absolute;
		left: 45%;
		top: 45%;
	}
}
@media screen and (max-width: 576px){
	.container .list{
		height: auto;
	}
	.container .list .image{
		width: 40%;
	}
	.container .list .info p.p1{
		display: none;
	}
	.container .list .info{
		width: 50%;
	}
	.container .list .info a{
		right: 10px;
		top: 160px;
	}
	.footer .first{
		height: 1000px;
	}
	.container .list .star{
		display: none;
	}
	.container .footer{
		height: auto;
	}
	.container .footer .box{
		width: 80%;
		height: auto;
	}
	.container .footer .deff .avt{
		width: 25%;
		height: 100px;
	}
	.footer .last{
		height: auto;
	}
	.footer .last .design{
		width: 100%;
		font-size: 15px;
	}
	.footer .last .manu{
		display: none;
	}
	.footer .gallary{
		position: absolute;
		left: 10%;
		top: 68%;
	}
	.footer .popu{
		top: 40%;
	}
}
*{
	padding: 0;
	margin: 0;
}
.container{
	position: relative;
}
.container .diff div[class ^="col"]{
	height: 60px;	
}
.container .diff{
	background: #384452;
}
.container .diff a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 50px;
	text-decoration: none;
	position: relative;
}
.container .diff a:hover{
	background: green;
}
.container .diff a i{
	position: absolute;
	left: 20px;
	top: 30%;
}
.container .header .bx i{
	color: white;
	line-height: 30px;
}
.container .header .bx{
	position: absolute;
	bottom: 37%;
	left: 33%;
}
.container .header .call{
	padding-top: 15px !important;
}
.container .header,
.container .img{
	position: relative;
}
.container .next{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
	position: absolute;
	right: 10px;
	bottom: 80px;
}
.container .pre{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
	position: absolute;
	right: 10px;
	bottom: 20px;
}
.container .pre i,
.container .next i{
	line-height: 50px;
	padding-left: 40%;
	font-size: 25px;
}
.container .form a,
.container .form label,
.container .deff a,
.container .img .pre,
.container .img .next,
.container .masthead nav ul li a.nav-link,
.container .header .reg,
.container .header .login,
.container .header img{
	transition: all 1s ease-in-out;
}
.container .header .reg:hover{
	transform: translate(-5px);
	color: red;
}
.container .deff a:hover{
	transform: rotate(20deg);
	color: blue !important;
}
.container .form a:hover{
	transform: scale(1.2);
}
.container .form label:hover{
	transform: translate(10px,-15px);
	text-shadow: 2px 2px 3px red;
}
.container .img .pre:hover,
.container .img .next:hover,
.container .mtop .login:hover{
	transform: scale(1.2);
	color: red;
}
.container .mtop img:hover{
	transform: translate(20px);
}
.container .masthead nav ul li a.nav-link:hover{
	transform: scale(1.5);
	color: blue;
}
.container .header .search{
	width: 85%;
	border-radius: 20px;
	position: relative;
}
.container .header i.fa-search{
	color: gray;
	position: absolute;
	right: 10%;
	top: 43%;
}
@media screen and (max-width: 992px){
	.container .header .bx{
		left: 67%;
		bottom: 63%;
	}
	.container .header img,
	.container .header .reg,
	.container .header .login{
		width: 100%;
	}
	.container .header .search{
	width: 100%;
	border-radius: 20px;
	position: relative;
}
.container .header i.fa-search{
	color: gray;
	position: absolute;
	right: 10%;
	top: 55%;
}
}
@media screen and (max-width: 576px){
	.container .header .bx{
		left: 15px;
		bottom: 39%;
	}
	.container .header img,
	.container .header .reg,
	.container .header .login{
		width: 100%;
	}
}
/*End Tiến*/
	/*<!-- tien -->
	<!-- end tien -->*/
	/*<!-- trung -->*/
	.title1{
	margin-top: 20px;
}
.title1 .line1{
	width: 20%;
	height: 2.5px;
}
.title1 .line2{
	margin-top: 0.5px;
	width: 80%;
	height: 1.5px;
	margin-bottom: 20px;
}
.Business{
	margin: 0 auto;
	margin-bottom: 10px;
}
.Business .contenTR li{
	color: black;
}
.Business .add{
	padding-top: 10px;
}
.Business ul.contenTR li{
	list-style: none;
}
.title2{
	margin-top: 20px;
}
.title2 .line1{
	width: 36%;
	height: 2.5px;
}
.title2 .line2{
	margin-top: 0.5px;
	width: 60%;
	height: 1.5px;
	margin-bottom: 20px;
}
.Special .ig{
	width: 100%;
	height: 200px;
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
	transition: all;

}
.Special .ig img{
	width: 100%;
	height: 100%;
}
.Special .ig:hover img{
	transform: scale(1.2);
	transition-duration: 0.5s;
}
.Special .Deal{
	width: 50%;
	height: 30px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
@media screen and (max-width: 570px){
	.Business .none{
		display: none;
	}
	.Business .contenTR{
		margin-top: 20px;
	}
}
	/*<!-- end trung -->*/
	/*<!-- linh -->
	<!-- end linh -->*/
	.card1{
	top: 50px;
	position: relative;
}
.card-img-overlay a{
	position: absolute;	
	right: 15px;
	top: 248px;
}
i.fa-caret-down{
	position: absolute;
	top: 80px;
	left: 30%;
}
div.stars {
	float: left;
	display: block;
	width: auto;
	height: 40px;
	line-height: 40px;
	margin-right: 3px;
}
form input.star { display: none; }
label.star {
	float: right;
	padding-right: 5px;
	font-size: 22px;
	color: #444;
	transition: all .2s;
}
input.star:checked ~ label.star:before {
	content: '\f005';
	color: #FD4;
	transition: all .25s;
}
input.star-5:checked ~ label.star:before {
	color: #FE7;
	text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star:before { color: #F62; }
label.star:hover { transform: rotate(-15deg) scale(1.3); }
label.star:before {
	content: '\f006';
	font-family: FontAwesome;
}
.card2{
	top: 50px;
	position: relative;
}
.card2 h3{
	position: absolute;
	top: 180px;
	left: 25%;
	color: white;
}
.card2 p.text{
	position: absolute;
	top: 220px;
	left: 27%;
	color: white;
}
.card2 .evaluate{
	position: absolute;
	top: 260px;
	left: 27%;
	color: white;
} 
a.fa-chevron-circle-left{
	position: absolute;
	left: 3rem;
	bottom: 200px;
}
a.fa-chevron-circle-right{
	position: absolute;
	right: 3rem;
	bottom: 200px;
}
	/*<!-- quan --!>*/

	.container .resent{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.resent .business{
	float: left;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid grey;
}
.business p{
	display: block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	border-bottom: 2px solid green;
}
.resent .list{
	float: left;
	width: 100%;
	height: 150px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.list .image{
	float: left;
	width: 20%;
	height: 100%;
	margin-right: 5%;
	overflow: hidden;
}
.image img{
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in-out;
}
.image img:hover{
	transform: scale(1.2);
}
.list .info{
	position: relative;
	float: left;
	width: 75%;
	height: 100%;
}
.info p{
	margin: 0;
	padding-right: 20%;
}
.star{
	position: absolute;
	width: 250px;
	height: 50px;
	top: 0px;
	left: 47%;
}
.star p{
	float: right;
}
.info a{
	position: absolute;
	top: 0px;
	right: 5%;
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	background: grey;
	color: white;
}
.info a.f1{
	background: #12b794;
}
.info a:hover{
	background: yellow;
	color: red;
}
.container .footer{
	float: left;
	margin-top: 30px;
	width: 100%;
	height: 270px;
	background: grey;
}
.footer .first{
	width: 80%;
	height: auto;
	margin-left: 10%;
}
.footer .box{
	float: left;
	width: 24%;
	height: 100%;
}
.footer .deff{
	margin-left: 1.3%;
}
.box p{
	color: white;
}
.box h5{
	padding-top: 20px;
	color: white;
}
.box a{
	color: white;
	line-height: 35px;
	font-size: 15px;
}
.box a:hover{
	color: red;
}
.footer .deff .row .col{
	background: #42cef4;
}
.deff .avt{
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 20px;
	margin-bottom: 20px;
	background: green;
	overflow: hidden;
}
.avt img{
	width: 100%;
	height: 100%;
	transition:  all 0.3s ease-in-out;
}
.avt img:hover{
	transform: scale(1.2);
}
.footer .last{
	float: left;
	width: 100%;
	height: 50px;
	border-top: 1px solid white;
}
.last .design{
	float: left;
	width: 50%;
	height: 100%;
	margin-left: 10%;
}
.design p{
	margin: 0;
	line-height: 60px;
}
.box div[class ^="col"]{
	background: #12b794;
	margin-bottom: 5px;
	margin-right: 5px;
}
.footer .deff a{
	text-decoration: none;
	text-align: center;
}
.last .manu{
	float: left;
	width: 40%;
	height: 100%;
}
.manu ul{
	margin: 0;
	width: 100%;
	height: 100%;
}
.manu ul li{
	margin: 0;
	float: left;
	list-style: none;
	margin-left: 10px;
	line-height: 60px;
}
.manu ul li a{
	text-align: center;
	text-decoration: none;
	color: black;
}
.manu ul li a:hover{
	color: white;
}
@media screen and (max-width: 992px){
	.container .list{
		height: 200px;
	}
	.container .list .image{
		height: 90px;
	}
	.container .lish .info{
		width: 40%;
	}
	.container .list .info .star{
		top: 200px;
		left: 80px;
	}
	.container .list .info a{
		top: 200px;
	}
	.container .footer{
		height: auto;
	}
	.footer .box{
		width: 35%;
		margin-right: 20px; 
	}
	.footer .deff{
		margin-left: 0px;
		margin-right: 50px;
	}
	.footer .deff .avt{
		width: 50px;
	}
	.footer .last .design{
		width: 100%;
	}
	.footer .last .manu{
		display: none;
	}
	.footer{
		position: relative;
	}
	.footer .popu{
		position: absolute;
		left: 10%;
		top: 45%;
	}
	.footer .gallary{
		position: absolute;
		left: 45%;
		top: 45%;
	}
}
@media screen and (max-width: 576px){
	.container .list{
		height: auto;
	}
	.container .list .image{
		width: 40%;
	}
	.container .list .info p.p1{
		display: none;
	}
	.container .list .info{
		width: 50%;
	}
	.container .list .info a{
		right: 10px;
		top: 160px;
	}
	.footer .first{
		height: 1000px;
	}
	.container .list .star{
		display: none;
	}
	.container .footer{
		height: auto;
	}
	.container .footer .box{
		width: 80%;
		height: auto;
	}
	.container .footer .deff .avt{
		width: 25%;
		height: 100px;
	}
	.footer .last{
		height: auto;
	}
	.footer .last .design{
		width: 100%;
		font-size: 15px;
	}
	.footer .last .manu{
		display: none;
	}
	.footer .gallary{
		position: absolute;
		left: 10%;
		top: 68%;
	}
	.footer .popu{
		top: 40%;
	}
}